
.cards1 {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto;
        padding: 80px;
        padding-top: 60px;
        width: auto;
        height: auto;
        justify-content:center;
        align-items:center;
        }

    .acordeonpoliticas {
        background-image: linear-gradient(rgb(235, 235, 235), rgb(228, 228, 228))}

    #accordionFlushExample {
        padding: 20px 80px 80px 80px;
        margin: 80px;
    }