$pink1: #df4994;
$black1: #212529;
$blue1: #0d6efd;
$green1: #198754;
$pinky1:  rgb(255, 222, 227);

$ancho1: 768px;
$ancho2: 480px;
$ancho3: 200px;
$ancho4: 360px;
$ancho5: 163px;

$font1: 'Roboto', sans-serif;
$font2: Arial;
